#include "Resources.h"

ID ICON "icon_512.ico"

RES_SGUI_FONT
RES_STATS_FONT
RES_GAME_FONT

RES_CUBE_OBJ
RES_SQUARE_OBJ
RES_SPHERE_OBJ
RES_TORUS_OBJ
RES_CIRCLE_OBJ

RES_TITLE_TEX
RES_CREDITS_TEX

RES_BGM1_SOUND
RES_BGM2_SOUND
RES_SFX1_SOUND
RES_SFX2_SOUND

RES_VERT_PASSTHROUGH_SHADER
RES_FRAG_PASSTHROUGH_SHADER
